@font-face {
  font-family:MuriadProCond; /* Гарнитура шрифта */
    src: url(../fonts/Muriad.ttf); /* Путь к файлу со шрифтом */
} 

*
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

li,ul 
{
	list-style: none;
}
a,a:hover
{
	text-decoration: none;
}

body
{
	font-family: "MuriadProCond",Pompadur,sans-serif;
}

header
{
	width: 100%;
	height: 85vh;
	background-image: url(../img/container.png);
	background-repeat: no-repeat;	
	background-size:100%;	
	padding-top: 3.8%;
}
.container
{
	max-width: 960px;
	width: 100%;
	margin: auto;
}

.navigation
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.logo h1
{
	color: white;
	font-size: 28px;
}

.menu-wraper
{
	display: flex;
	flex-direction: row;
	padding-top: 15px;
}

menu li a
{
	color: white;
	font-size: 24px;
	margin-left: 30px;
}

a:hover
{
	color: #9b59b6;
	transition: 0.5s ease-in-out;
}
.header_content
{
	margin-left: 1%;
	margin-top: 150px;
}

.header_content h1
{
	font-size: 60px;
	color: white;
	text-align: center;
}

.line_bottom
{
	width: 600px;
	margin-left: 17%;
}

.header_subtitle h3
{
	font-size: 22px;
	color: white;
	text-align: center;
	letter-spacing: 6px;
}

.header_button
{
	height: 44px;
	width: 200px;
	background-color: #9b59b6;
	padding-top: 1px;
	border: 5px solid #b076af;
	margin: auto;
	margin-top: 210px;
	
}

.header_button p
{
	color: white;
	text-transform: uppercase;
	text-align: center;
	font-size: 24px;
}

.wraper_titile h1
{
	color: #b77fb6;
	font-size: 36px;
	text-align: center;
	margin-bottom: 56px;
	margin-top: 134px;
}

.wraper_titile p
{
	color: #95a5a6;
	font-size: 18px;
	text-align: center;
	margin-bottom: 78px;
}

.wraper_block
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 76px;
}

.block h3
{
	text-align: center;
	font-size: 20px;
	color: #9b59b6;
}

.block p
{
	text-align: justify;
	font-size: 15px;
	color: #95a5a6;
}

.block img
{
	margin-left: 81px;
}

.photo_wraper
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.wraper_photo
{
	width: 400px;
	height: 300px;
	margin-bottom: 57px;
	position: relative;
}

.wraper_photo 
{
 opacity: 0.6;
}

.wraper_photo img:hover
{
	opacity: 1; 
}

.search
{
	position: relative;
	width: 40px;
	height: 40px;
	background-color: #9b59b6;
	padding-top: 6px;
	padding-left: 6px;
	margin:auto;
    z-index: 111;
}
.search img
{
	padding-top: 6px;
	padding-left: 6px;
	opacity: 1;
}
.search_wraper
{
	position: absolute;
	width: 51px;
	height: 51px;
	background-color: rgba(155,89,182,0.6);
	padding-top: 7px;	
	left: 330px;
	top: 20px;
	z-index: 111;
	display: none;
}

.information
{

	height: 90px;
	width: 400px;
	background-color: #9b59b6;
	position: relative;
	z-index: 111;
	padding-left: 20px;
}

.information h1
{
	color: white;
	font-size: 30px;
	padding-bottom: 0px;
}

.information p
{
	color: #6b3f7d;
	font-size: 15px;
	padding-top: -10px;
}

.information_wraper
{
	height: 100px;
	width: 400px;
	position: absolute;
	top: 200px;
	background-color: rgba(155,89,182,0.6);
	display: flex;
	align-items: flex-end;
	display: none;
	transition: all 1.5s;
}



.wraper_photo:hover .information_wraper 
{
		display: flex;	
}

.wraper_photo:hover .search_wraper
{
		display: block;
}

.opacity1
{
	opacity: 1;
}

.view_more
{
	width: 218px;
	height: 57px;
	background-color: #9b59b6;
	display: flex;
	margin: auto;
	margin-top: 56px;
}

.view_more p
{
	color: white;
	font-size: 24px;
	text-align: center;
	padding-top: 15px;
	margin-left: 55px;
	margin-right: 20px;
}

.view_more img
{
	width: 24px;
	height: 22px;
	margin-top: 22px;

}

#Enter_data
{
	margin-top: 150px;
	margin-bottom: 120px;
}

.enter_title h1
{
	 text-align: center;
	 color: #9b59b6;
	 font-size: 60px;
}

.enter_title
{
	margin-bottom: 75px;
}

.inpute input
{
	background-color: #e4e8e8;
	border:none;
	height: 73px;
	width: 370px;
	font-size: 30px;
	color: black;
	padding-left: 31px;
	padding-top: 8px;
	margin-left: 15px;
	margin-right: 15px;
}

.inpute:last-child input
{
	width: 768px;
	height: 250px;
	margin-top: 30px; 
	padding-bottom: 180px;

}
.enter_wraper
{
	display: flex; 
	flex-direction: row;
	padding-left: 60px;
	flex-wrap: wrap;
}

footer
{
	background-color: #9b59b6;
	position: relative;
	height: 240px;
}

.footer_image
{
	width: 88px;
	height: 90px;	
	background-color: white;
	padding-top: 10px;
	padding-left: 10px;
	
}

.fa
{
	font-size:  56px;

}

.footer_image_wraper
{
	height: 103px;
	width: 101px;
	background-color: #fff;
	background-color: rgba(155,89,182,0.6);
	padding-top: 10px;
	padding-left: 7px;
	display: inline-block;
	position: absolute;
	top: 1px;
	left: 1px;
}

.footer_image_wraper:nth-child(1)
{
	top: -35px;
	left: 358px;
}

.footer_image_wraper:nth-child(2)
{
	top: -35px;
	left: 715px;
}

.footer_image_wraper:nth-child(3)
{
	top: -35px;
	left: 1037px;
}

.fa-twitter
{
	margin-top: 5px;
    margin-left: 11px;
}

.fa-vk
{
	margin-top: 4px;
	margin-left: 6px;
}

.fa-facebook
{
	margin-top: 10px;
    margin-left: 21px;
}

.ps
{
	text-align: center;
	padding-top: 180px;
}

.ps h3
{
	color: white;
	font-size: 24px;
}



@media (min-width: 1200px) {

	.footer_image_wraper:nth-child(1)
	{
		left: 17%;
	}

	.footer_image_wraper:nth-child(2)
	{
		left: 47%;
	}

	.footer_image_wraper:nth-child(3)
	{
		left:73%;
	}

	header
	{
		background-size:125%;	
	}

}

@media (min-width: 992px) and (max-width: 1199px) {

	header
	{
		background-size:148%;	
	}


	.view_more img
	{
		margin-top: 20px;
		margin-right: 50px;
	}

	.footer_image_wraper:nth-child(1)
	{
		left: 10%;
	}

	.footer_image_wraper:nth-child(2)
	{
		left: 450px;
	}

	.footer_image_wraper:nth-child(3)
	{
		left:777px
	}
}

@media (min-width: 768px) and (max-width: 991px) {

header
	{
		background-size: 189%;
	}

	.wraper_block
	{
		flex-direction: column;
	}

	.block
	{
		 margin: auto;
		 margin-top: 10px;
	}



	.block img
	{
		margin-left: 110px;
	}

	.wraper_photo
	{
		margin: auto;
		margin-bottom: 25px;
	}

	.inpute
	{
		width: 100%;
	}
	.inpute input
	{
		margin-top: 10px;
		width: 80%;	

	}

	.inpute:last-child input
	{
		width: 80%;
		

	}

	.footer_image_wraper:nth-child(1)
	{
		left: 12%;
	}


	.footer_image_wraper:nth-child(2)
	{
		left: 43%;
	}

	.footer_image_wraper:nth-child(3)
	{
		left:69%;
	}
}


