@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: white; }

ul, li {
  list-style: none; }

button:checked {
  border: none; }

button {
  border: none;
  background-color: white;
  outline: none; }

.blue {
  background-color: #80d8ff; }

.navy-blue {
  background-color: #82b1ff; }

.violet {
  background-color: #b388ff; }

.pink {
  background-color: #ea80fc; }

.flex-open {
  margin-top: 25px; }

.flex-close {
  padding: 0; }

.section-outer {
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden; }

.section-inner {
  max-width: 1440px;
  margin: 0 auto; }

.section-header {
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Raleway', sans-serif; }
  .section-header .section-inner {
    z-index: 10;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column; }
  .section-header::before {
    content: '';
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, #1ceabe, #0cb8bf);
    opacity: 0.6; }
  .section-header-top-header {
    padding-top: 48px;
    display: flex;
    justify-content: space-between; }
    .section-header-top-header-logo {
      display: flex;
      font-size: 16px;
      color: white;
      text-transform: uppercase; }
      .section-header-top-header-logo img {
        width: 30px;
        height: 30px;
        color: white;
        margin-right: 10px; }
      .section-header-top-header-logo a {
        display: flex; }
    .section-header-top-header-nav ul {
      display: flex;
      color: white; }
      .section-header-top-header-nav ul li {
        font-size: 15px; }
      .section-header-top-header-nav ul li:not(:first-child) {
        margin-left: 50px; }
    .section-header-top-header-autorization {
      display: flex;
      align-items: center;
      color: white;
      font-size: 12px;
      height: 25px;
      padding-top: 8px;
      padding-bottom: 11px;
      padding-left: 20px;
      padding-right: 26px;
      border-radius: 3px;
      border: 0.5px solid white;
      cursor: pointer; }
    .section-header-top-header-autorization:hover {
      border-color: #10c1c2; }
    .section-header-top-header .mobile-nav .menu-link {
      display: none;
      width: 50px;
      height: 50px;
      background-color: #fff;
      border-radius: 50%;
      box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
      position: fixed;
      top: 34px;
      right: 20px; }
      .section-header-top-header .mobile-nav .menu-link span, .section-header-top-header .mobile-nav .menu-link span:before, .section-header-top-header .mobile-nav .menu-link span:after {
        display: block;
        height: 2px;
        width: 18px;
        position: absolute;
        left: 50%;
        margin-left: -9px;
        top: 50%;
        margin-top: -1px;
        background-color: #333; }
      .section-header-top-header .mobile-nav .menu-link span::before {
        transition: all, 0.2s;
        content: '';
        margin-top: -6px; }
      .section-header-top-header .mobile-nav .menu-link span::after {
        transition: all, 0.2s;
        content: '';
        margin-top: 4px; }
      .section-header-top-header .mobile-nav .menu-link_active span {
        background-color: transparent; }
        .section-header-top-header .mobile-nav .menu-link_active span::before {
          transform: rotate(135deg);
          margin-top: 0px; }
        .section-header-top-header .mobile-nav .menu-link_active span::after {
          transform: rotate(-135deg);
          margin-top: 0px; }
  .section-header-content {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    align-items: center; }
    .section-header-content-left {
      display: flex;
      flex-direction: column;
      max-width: 583px; }
      .section-header-content-left-title {
        font-size: 55px;
        color: white;
        font-weight: 800;
        text-transform: uppercase;
        line-height: 76px; }
      .section-header-content-left-subtitle {
        color: white;
        font-size: 18px; }
      .section-header-content-left-wrapper {
        margin-top: 40px;
        display: flex; }
        .section-header-content-left-wrapper .button button {
          padding-top: 20px;
          padding-bottom: 22px;
          padding-right: 44px;
          padding-left: 40px;
          border-radius: 5px;
          font-weight: 600;
          text-transform: uppercase;
          cursor: pointer; }
        .section-header-content-left-wrapper-buy-now button {
          background-color: #061e37;
          color: white;
          margin-right: 30px; }
        .section-header-content-left-wrapper-free button {
          background-color: white; }
    .section-header-content-right img {
      margin: 0px;
      padding: 0px;
      max-width: 100%; }

.section-information {
  font-family: 'Raleway', sans-serif;
  margin-top: 101px;
  margin-bottom: 101px; }
  .section-information-top {
    text-align: center;
    max-width: 500px;
    margin: 0 auto; }
    .section-information-top-title {
      font-size: 45px;
      color: #061e37;
      font-weight: 600; }
    .section-information-top-subtitle {
      font-size: 25px;
      color: #b0bec5;
      margin-top: 10px;
      font-weight: 600; }
    .section-information-top-info {
      font-size: 15px;
      color: #b0bec5;
      margin-top: 15px; }
  .section-information-wraper {
    margin-top: 95px;
    display: flex;
    justify-content: space-between; }
    .section-information-wraper-block {
      text-align: center;
      max-width: 350px; }
      .section-information-wraper-block-title {
        font-size: 20px;
        color: #061e37;
        font-weight: 600;
        margin-top: 45px; }
      .section-information-wraper-block-subtitle {
        font-size: 15px;
        color: #78909c;
        margin-top: 18px; }
  .section-information-btn {
    display: flex;
    justify-content: center;
    margin-top: 80px; }
    .section-information-btn button {
      text-transform: uppercase;
      background-color: #1de9b6;
      color: white;
      padding-top: 22px;
      padding-bottom: 22px;
      padding-left: 29px;
      padding-right: 24px;
      border-radius: 5px;
      font-weight: 600;
      cursor: pointer; }

.section-visitors {
  font-family: 'Raleway', sans-serif;
  margin-bottom: 100px; }
  .section-visitors-wraper {
    display: flex;
    justify-content: space-between; }
    .section-visitors-wraper-block {
      flex-basis: 25%;
      padding-top: 37px;
      padding-bottom: 37px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-weight: 800; }
      .section-visitors-wraper-block-img {
        background-color: white;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 23px; }

.section-services {
  margin-bottom: 101px;
  font-family: 'Raleway', sans-serif; }
  .section-services-top {
    text-align: center;
    max-width: 563px;
    margin: 0 auto;
    margin-bottom: 52px; }
    .section-services-top-title {
      font-size: 45px;
      color: #061e37;
      font-weight: 600; }
    .section-services-top-subtitle {
      font-size: 15px;
      color: #b0bec5;
      margin-top: 10px;
      line-height: 25px; }
  .section-services-wraper-block {
    max-width: 800px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding-left: 26px;
    padding-right: 33px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 20px; }
    .section-services-wraper-block-title {
      display: flex;
      justify-content: space-between;
      margin-bottom: 25px; }
      .section-services-wraper-block-title-left {
        color: #061e37;
        font-size: 15px;
        font-weight: 800;
        text-transform: uppercase; }
        .section-services-wraper-block-title-left img {
          margin-right: 26px; }
      .section-services-wraper-block-title-rigth {
        cursor: pointer; }
    .section-services-wraper-block-content {
      display: flex;
      font-size: 15px;
      color: #061e37;
      line-height: 25px;
      font-weight: 300; }
      .section-services-wraper-block-content img {
        margin-right: 26px;
        display: none; }

.section-reviews {
  font-family: 'Raleway', sans-serif;
  background-image: url(../img/back.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 42px;
  padding-bottom: 39px;
  position: relative; }
  .section-reviews .reviews {
    display: flex;
    justify-content: space-between; }
  .section-reviews .section-inner {
    z-index: 10;
    position: relative; }
  .section-reviews::before {
    content: '';
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, #25e3b1, #0dbbd6);
    opacity: 0.95; }
  .section-reviews-left__path {
    color: white;
    max-width: 518px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; }
    .section-reviews-left__path-title {
      font-weight: 600;
      font-size: 45px;
      margin-top: 139px; }
    .section-reviews-left__path-subtitle {
      font-size: 15px;
      line-height: 25px;
      margin-bottom: 78px; }
    .section-reviews-left__path button {
      text-transform: uppercase;
      background-color: #061e37;
      color: white;
      padding-top: 22px;
      padding-bottom: 22px;
      padding-left: 29px;
      padding-right: 24px;
      border-radius: 5px;
      font-weight: 600;
      cursor: pointer;
      margin-bottom: 140px; }
  .section-reviews-rigth__path {
    max-width: 650px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative; }
    .section-reviews-rigth__path img {
      margin: 0 auto;
      cursor: pointer; }
    .section-reviews-rigth__path-up {
      width: 23px;
      height: 15px; }
    .section-reviews-rigth__path-block {
      display: flex; }
      .section-reviews-rigth__path-block img {
        position: absolute;
        left: -100px; }
      .section-reviews-rigth__path-block-content {
        padding-top: 33px;
        padding-bottom: 33px;
        padding-left: 29px;
        padding-right: 50px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }
        .section-reviews-rigth__path-block-content-title {
          font-weight: 800;
          color: #061e37;
          margin-bottom: 20px; }
        .section-reviews-rigth__path-block-content-subtitle {
          line-height: 25px;
          color: #78909c;
          font-size: 15px;
          font-style: italic; }
    .section-reviews-rigth__path-down {
      width: 23px;
      height: 15px; }

.section-team {
  font-family: 'Raleway', sans-serif;
  padding-top: 103px; }
  .section-team-wrapper {
    text-align: center; }
    .section-team-wrapper-top {
      max-width: 558px;
      margin: 0 auto; }
      .section-team-wrapper-top-title {
        color: #061e37;
        font-size: 45px;
        font-weight: 600;
        margin-bottom: 29px; }
      .section-team-wrapper-top-subtitle {
        color: #b0bec5;
        font-size: 15px;
        line-height: 25px;
        margin-bottom: 80px; }
    .section-team-wrapper-content {
      max-width: 460px;
      display: flex;
      margin: 0 auto;
      justify-content: space-between;
      align-items: center; }
      .section-team-wrapper-content-block:nth-child(2) {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        border-radius: 50%; }
        .section-team-wrapper-content-block:nth-child(2) img {
          width: 160px;
          height: 160px;
          border-radius: 50%; }
      .section-team-wrapper-content-block {
        margin-bottom: 44px; }
    .section-team-wrapper-bottom {
      max-width: 647px;
      margin: 0 auto; }
      .section-team-wrapper-bottom-title {
        color: #061e37;
        font-size: 18px;
        font-weight: 800; }
      .section-team-wrapper-bottom-subtitle {
        color: #b0bec5;
        font-size: 15px;
        line-height: 25px;
        margin-bottom: 80px;
        margin-top: 20px; }

.section-contact {
  font-family: 'Raleway', sans-serif;
  background-color: #fafafa;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px; }
  .section-contact-wrapper {
    max-width: 600px;
    margin: 0 auto; }
    .section-contact-wrapper-top {
      max-width: 500px;
      margin: 0 auto;
      margin-bottom: 52px; }
      .section-contact-wrapper-top-title {
        color: #061e37;
        font-size: 45px;
        font-weight: 600;
        margin-bottom: 29px; }
      .section-contact-wrapper-top-subtitle {
        color: #061e37;
        font-size: 15px;
        line-height: 25px;
        margin-bottom: 80px; }
    .section-contact-wrapper-forms {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      .section-contact-wrapper-forms input::placeholder {
        color: #061e37; }
      .section-contact-wrapper-forms input {
        border: 0.5px solid #061e37;
        padding-top: 13px;
        padding-left: 20px;
        padding-bottom: 13px;
        padding-right: 100px;
        border-radius: 5px;
        margin-bottom: 21px;
        outline: none;
        font-size: 14px;
        font-weight: 600;
        color: #061e37; }
      .section-contact-wrapper-forms-last-imput {
        width: 600px;
        height: 150px; }
      .section-contact-wrapper-forms-bottom {
        font-weight: 600; }
        .section-contact-wrapper-forms-bottom input {
          margin-right: 9px; }
      .section-contact-wrapper-forms button {
        outline: none;
        text-transform: uppercase;
        background-color: #1de9b6;
        color: white;
        padding-top: 20px;
        padding-bottom: 19px;
        padding-left: 40px;
        padding-right: 45px;
        border-radius: 5px;
        cursor: pointer; }

.section-footer {
  font-family: 'Raleway', sans-serif;
  background-color: #061e37;
  padding-top: 54px;
  padding-bottom: 63px; }
  .section-footer-wrapper {
    display: flex;
    justify-content: space-between; }
    .section-footer-wrapper-left-logo {
      display: flex;
      z-index: 10000;
      font-size: 16px;
      color: white;
      text-transform: uppercase;
      margin-bottom: 53px; }
      .section-footer-wrapper-left-logo a {
        display: flex; }
    .section-footer-wrapper-left img {
      width: 30px;
      height: 30px;
      color: white;
      margin-right: 10px; }
    .section-footer-wrapper-left-info ul {
      display: flex; }
      .section-footer-wrapper-left-info ul li {
        list-style-type: none;
        font-size: 15px; }
      .section-footer-wrapper-left-info ul li:not(:first-child) {
        margin-left: 18px; }
      .section-footer-wrapper-left-info ul li::before {
        font-weight: 400;
        color: white;
        content: "•";
        margin-right: 20px; }
    .section-footer-wrapper-right {
      display: flex;
      align-items: center; }
      .section-footer-wrapper-right-nav ul {
        display: flex;
        color: white; }
        .section-footer-wrapper-right-nav ul li {
          font-size: 15px; }
        .section-footer-wrapper-right-nav ul li:hover {
          border-bottom: 0.5px solid white; }
        .section-footer-wrapper-right-nav ul li:not(:first-child) {
          margin-left: 50px; }

@media (max-width: 400) {
  .section-header-top-header-autorization {
    width: 79px; } }

@media (max-width: 575px) {
  .section-header-content {
    flex-direction: column;
    justify-content: center; }
    .section-header-content-left {
      margin-bottom: 10px; }
      .section-header-content-left-title {
        font-size: 26px; }
      .section-header-content-left-wrapper {
        justify-content: center; }
  .section-information-wraper {
    flex-direction: column;
    align-items: center; }
    .section-information-wraper-block {
      margin-bottom: 20px; }
      .section-information-wraper-block-title {
        margin-bottom: 20px; }
  .section-visitors-wraper {
    flex-direction: column; }
  .section-services-wraper-block-content img {
    display: none; }
  .section-reviews {
    padding-top: 0px; }
    .section-reviews .reviews {
      flex-direction: column; }
      .section-reviews .reviews .section-reviews-left__path {
        align-items: center; }
        .section-reviews .reviews .section-reviews-left__path-title {
          margin-top: 73px;
          margin-left: auto; }
        .section-reviews .reviews .section-reviews-left__path-subtitle {
          margin-bottom: 30px; }
      .section-reviews .reviews .section-reviews-rigth__path-block-content {
        margin-bottom: 10px; }
      .section-reviews .reviews .section-reviews-rigth__path img {
        margin-top: 10px;
        margin-bottom: 10px; }
      .section-reviews .reviews button {
        margin-bottom: 90px; }
  .section-team-wrapper-content {
    flex-direction: column; } }

@media (max-width: 767px) {
  .section-header-top-header-nav {
    padding: 0;
    margin: 0;
    background-color: #42aaff;
    position: fixed;
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    left: 100vw;
    top: 0;
    transition: all,.2s; }
    .section-header-top-header-nav ul {
      flex-direction: column;
      justify-content: space-around; }
      .section-header-top-header-nav ul li:not(:first-child) {
        margin-left: 0px; }
  .section-header-top-header .nav-active {
    left: 0;
    top: 0; }
  .section-header-top-header-autorization {
    margin-right: 60px; }
  .section-header-top-header .mobile-nav {
    z-index: 1000; }
    .section-header-top-header .mobile-nav .menu-link {
      display: block; }
  .section-footer-wrapper-right-nav {
    display: none; } }
